<% provide(:title, 'Admin') %>
<h1>Admin</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<ul>
  <li><%= link_to "Create group", "/admin/groups/new" %></li>
  <li><%= link_to "View groups", "/admin/groups" %></li>
</ul>
