<h3>Search</h3>

<% if @groups.any? then %>
  <%= pluralize(@groups.count, "Result") %> found

  <%= will_paginate @groups %>
  <ul class="groups">
    <% @groups.each do |group| %>
      <li>
        <%= link_to group.name, "/groups/#{group.id}/#{group.name.parameterize}" %>
      </li>
    <% end %>
  </ul>


<% else %>
  No results found
<% end %>