<% provide(:title, 'All groups') %>

<%= render 'shared/flash_messages' %>

<h3>All groups</h3>

<%= will_paginate %>

<ul class="groups">
  <% @groups.each do |group| %>
    <li>
      <%= link_to group.name, "/admin/groups/#{group.id}" %> | <%= link_to "Delete", "/admin/groups/#{group.id}/delete" %>
    </li>
  <% end %>
</ul>
