<h3><%= @group.name %></h3>
<p>Description: <%= @group.description %></p>
<p>Category: <%= @group.category %></p>


This page will show the members of the group, the tweets and instagram photos of the group, loaded in AJAX fashion.